[submodule "2014-2016/PickyEater-LD34"]
	path = 2014-2016/PickyEater-LD34
	url = https://github.com/Joytis/PickyEater-LD34
[submodule "2014-2016/GameProgramming_ALearningAdventure"]
	path = 2014-2016/GameProgramming_ALearningAdventure
	url = https://github.com/Joytis/GameProgramming_ALearningAdventure
[submodule "2014-2016/MothersDrum-GGJ16"]
	path = 2014-2016/MothersDrum-GGJ16
	url = https://github.com/Joytis/MothersDrum-GGJ16
[submodule "2014-2016/OldClarksoulsEngine"]
	path = 2014-2016/OldClarksoulsEngine
	url = https://github.com/Joytis/OldClarksoulsEngine
[submodule "2014-2016/clarkwaylife"]
	path = 2014-2016/clarkwaylife
	url = https://github.com/Joytis/clarkwaylife
[submodule "2014-2016/Spooky-LD36"]
	path = 2014-2016/Spooky-LD36
	url = https://github.com/Joytis/Spooky-LD36
[submodule "2017/clarkwaylife_unity"]
	path = 2017/clarkwaylife_unity
	url = https://github.com/Joytis/clarkwaylife_unity
[submodule "2017/CS347_CryptClone"]
	path = 2017/CS347_CryptClone
	url = https://github.com/Joytis/CS347_CryptClone
[submodule "2018/rust-test"]
	path = 2018/rust-test
	url = https://github.com/Joytis/rust-test
[submodule "2017/CS121"]
	path = 2017/CS121
	url = https://github.com/Joytis/CS121
[submodule "2018/GGJ2018"]
	path = 2018/GGJ2018
	url = https://github.com/Joytis/GGJ2018
[submodule "2017/PrismBreak"]
	path = 2017/PrismBreak
	url = https://github.com/Joytis/PrismBreak
[submodule "2014-2016/FirstSdlTest"]
	path = 2014-2016/FirstSdlTest
	url = https://github.com/Joytis/FirstSdlTest
[submodule "2014-2016/clarksouls"]
	path = 2014-2016/clarksouls
	url = https://github.com/Joytis/clarksouls
[submodule "2017/CS424_program2"]
	path = 2017/CS424_program2
	url = https://github.com/Joytis/CS424_program2
[submodule "2014-2016/CS317-Project1"]
	path = 2014-2016/CS317-Project1
	url = https://github.com/Joytis/CS317-Project1
[submodule "2014-2016/CS321Project"]
	path = 2014-2016/CS321Project
	url = https://github.com/Joytis/CS321Project
[submodule "2014-2016/armlab2"]
	path = 2014-2016/armlab2
	url = https://github.com/Joytis/armlab2
[submodule "2017/CS317-SadishAlgorithms"]
	path = 2017/CS317-SadishAlgorithms
	url = https://github.com/Joytis/CS317-SadishAlgorithms
[submodule "2017/CS321-IntroOopJava"]
	path = 2017/CS321-IntroOopJava
	url = https://github.com/Joytis/CS321-IntroOopJava
[submodule "2017/CS347-Project3"]
	path = 2017/CS347-Project3
	url = https://github.com/Joytis/CS347-Project3
[submodule "2014-2016/CS221-ColemanDataStructs"]
	path = 2014-2016/CS221-ColemanDataStructs
	url = https://github.com/Joytis/CS221-ColemanDataStructs
[submodule "2014-2016/CSharp_GameProgrammingLearning"]
	path = 2014-2016/CSharp_GameProgrammingLearning
	url = https://github.com/Joytis/CSharp_GameProgrammingLearning
[submodule "2014-2016/LearnCTheHardWay"]
	path = 2014-2016/LearnCTheHardWay
	url = https://github.com/Joytis/LearnCTheHardWay
[submodule "2017/CS413-DigitalArchitecture"]
	path = 2017/CS413-DigitalArchitecture
	url = https://github.com/Joytis/CS413-DigitalArchitecture
[submodule "2017/CS424-ProgrammingLanguages"]
	path = 2017/CS424-ProgrammingLanguages
	url = https://github.com/Joytis/CS424-ProgrammingLanguages
[submodule "2017/wizengine"]
	path = 2017/wizengine
	url = https://github.com/Joytis/wizengine
